<% provide :title, t("header.book_list") %>
<% provide(:path, books_path )%>

<h1><%= t "header.book_list" %></h1>
<%= render 'shared/search_form' %>
<ul class="books">
  <% @books.each do |book| %>
    <li>
      <p>
        <% if book.image.present? %>
       <%= image_tag(book.image_url,:width => 250, :height => 250) %>
       <%else%>
        <%= image_tag("images.jpeg",:width => 250, :height => 250) %>
       <%end%>
        <p><span><%= link_to book.name, book %>
        <% if logged_in? && current_user.admin? %>
         |<%= link_to t("user.delete"), admin_book_url(book.id), method: :delete,
         data: { confirm: t("message.confirm") } %>
         <% end %></span></p>
      </p>
    </li>
  <% end %>
  <p><%= will_paginate @books %></p>
</ul>
