<% provide :title, @review.title %>
<h1><%= @review.title %></h1>
<div id="review-<%= @review.id %>">
  <%= gravatar_for @review.user, size: 100 %>
  <span class="user"><%= link_to @review.user.name, @review.user %></span>
  <p><%= t "review.for" %><%= @book.name %></p>
  <% if current_user.created? @review %>
    <%= link_to t("review.destroy"), book_review_path, method: :delete,
      data: {confirm: t("message.confirm")} %>
    <br>
    <%= link_to t("review.edit"), edit_book_review_path(@book) %>
  <% end %>
</div>
<p class="content"><%= @review.content.html_safe %></p>
<p class="timestamp">
  <%= t "review.created_at", time: time_ago_in_words(@review.created_at) %>
</p>
